<header class=<%= typeof row != 'undefined' ? row : null %> >
    <nav class="menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/music">music</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
    <nav>
        <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="" class="spotify"><i class="fab fa-spotify"></i></a>
        <a href="" class="apple"><i class="fab fa-apple"></i></a>
        <a href="" class="amazon"><i class="fab fa-amazon"></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
    </nav>
</header>