.about{
    background-image: url('/images/emilia-about.jpg');
    background-size:  70%;
    background-repeat: no-repeat;
    background-position:right 0;
}

.about main{
    padding: 10px;
    
}

.about h1{
    font-family: var(--fontFamily-titulo);
    font-size: var(--fontSize-titulo);
    text-transform: uppercase;
    margin-top: 60px;
}

.about section article{
    margin-top: 30px;
    margin-left: 40px;
}

.about h3{
    font-family: var(--fontFamily-titulo);
    font-weight: 100;
    color: var(--colorVerde);
}

.about p{
    color: var(--colorVerde);
    margin-top: 10px;
}

