@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root{
    --fontFamily-titulo: 'Raleway', sans-serif;
    --fontSize-titulo: 67px;
    --colorVerde: #44a391;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
}