.home{
    background-image: url('/images/emilia-home.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position:right -100px;
}

.home h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 100px;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 400;
}

.home h1{
    font-family: var(--fontFamily-titulo);
    text-transform: uppercase;
    margin-top: 100px;
    font-size: var(--fontSize-titulo);
    background-color: rgba(255, 255, 255, 0.4);
}