.music main {
    padding: 10px;
}
.music main h1{
    font-family: var(--fontFamily-titulo);
    font-size: var(--fontSize-titulo);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.music main ul{
    margin-top: 20px;
    margin-left: 30px;
    color: gray;
}

.music main section article {
    margin-top: 30px;
}

.music main section article h3{
    font-family: var(--fontFamily-titulo);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 30px;
}

.music main section article iframe{
    width: 900px;
    height: 500px;
    margin-bottom: 20px;
}

.music main ol{
    margin-top: 20px;
}

.music main ol li{
    list-style-type: decimal-leading-zero;
    margin-left: 40px;
    line-height: 30px;
}

.music main section article a.go{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}